<%- include("partials/header"); -%>

<div id="homepage">
    <h2>Prideti nauja programuotoja</h2>

    <form class="dev-form">
        <label for="name">Vardas</label>
        <input type="text" name="vardas" id="vardas" placeholder="Vardas Pavarde" required>
        <label for="tech">Technologijos</label>
        <input type="text" name="tech" id="tech" placeholder="pvz. Node.js, React" required>
        <label for="lng">Ilguma</label>
        <input type="number" name="lng" id="lng" placeholder="Ilguma" required />
        <label for="lat">Platuma</label>
        <input type="number" name="lat" id="lat" placeholder="Platuma" required />
        <div class="checkbox">
            <input type="checkbox" name="free" id="free" checked="true">
            <label for="free">Laisvas?</label>
        </div>
        <input type="submit" value="Prideti">
    </form>
</div>

<script>
    const form = document.querySelector(".dev-form");
    form.addEventListener("submit", async e => {
        e.preventDefault();
        fetch("/api/devs/", {
            headers: { "Content-Type": "application/json" },
            method: "POST",
            body: JSON.stringify({
                vardas: form.vardas.value,
                tech: form.tech.value,
                lng: form.lng.value,
                lat: form.lat.value,
                free: form.free.checked,
            }),
        })
            .then(res => {
                if (!res.ok) {
                    throw new Error("error submitting form");
                }
                window.location.assign("/");
            })
            .catch(err => console.error(err));
    });
</script>

<%- include("partials/footer"); -%>
